episode-player {
	user-select: none;
	box-sizing: border-box;
	position: fixed;
	z-index: 10;
	top: 0;
	height: 100%;
	width: 100%;
	clip-path: inset(0 0 0 0 round 0);
	transition: clip-path 350ms, translate 350ms;
	background: var(--color-background-intense);
	display: grid;
	grid-template-rows: 1fr 5rem;
	padding: var(--space-md);

	img {
		aspect-ratio: 1 /1;
		background: var(--color-ui-muted);
	}

	.image {
		justify-self: center;
		border-radius: 0.5rem;
		overflow: hidden;
		border: var(--border-width) solid var(--color-ui-muted);
		max-width: 24rem;
	}

	.collapse {
		overflow: hidden;
		align-self: center;
	}
	.title-wrapper {
		text-align: center;
		margin: var(--space-md) auto;
	}
	.title {
		font-size: 1.25rem;
		font-weight: 600;
		margin-block-end: var(--space-sm);
	}
	.time {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.player-buttons {
		align-self: end;
		width: 100%;
		display: grid;
		column-gap: var(--space-md);
		grid-template-columns: 3rem 1fr auto auto auto 1fr 3rem;
		align-items: center;
	}
	.image-mini {
		padding: unset;
		scale: 0;
		border-radius: 7%;
		transition: scale 250ms;
	}
	#skip-back {
		grid-column: 3;
	}

	play-pause {
		box-sizing: border-box;
		display: block;
		width: 4rem;
		height: 4rem;
		padding: 15%;
		background: currentColor;
		border-radius: 50%;
		transition: width 250ms, height 250ms;
		svg {
			color: var(--color-background-intense);
			width: 100%;
			height: 100%;
		}
	}
	#playback-rate {
		width: fit-content;
		font-weight: 600;
	}
	#toggle {
		display: block;
		width: 100%;
		padding: 0.75rem;
		rotate: 180deg;
		transition: rotate 150ms;
	}
}
episode-player {
	&[minimized='true'] {
		translate: 0 calc((var(--router-nav-height) * -1) + 0.5rem);
		clip-path: inset(calc(100% - 0.5rem - 4rem) 0.5rem 0.5rem 0.5rem round 0.5rem);

		.image-mini[src] {
			scale: 1;
		}
		play-pause {
			height: 3rem;
			width: 3rem;
		}
		#toggle {
			rotate: 0deg;
		}
	}
}
