router-view {
	grid-row: 1;
	grid-column: 1;
	opacity: 0;
	pointer-events: none;
	padding: var(--space-md);
	padding-block-end: unset;
	overflow: auto;
}

router-view.active {
	opacity: 1;
	pointer-events: auto;
}
