router-nav {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-md);
	font-size: 0.9rem;
	grid-row: 3;
	svg {
		height: 1.75rem;
		width: auto;
		margin: 0 auto;
		fill: currentColor;
	}
}
