router-layout {
	box-sizing: border-box;
	display: grid;
	height: 100dvh;
	grid-template-rows: 1fr var(--router-nav-height) var(--router-nav-height);
	overflow: hidden;
}

::view-transition-old(old-view) {
	animation: var(--exit-animation) 350ms both;
}
::view-transition-new(new-view) {
	animation: var(--enter-animation) 350ms both;
}

/* ----- Keyframes ----- */

@keyframes from-right {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes to-right {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(50%);
		opacity: 0;
	}
}

@keyframes from-left {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes to-left {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(-50%);
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes from-back {
	from {
		transform: scale(0.95);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes to-back {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(0.95);
		opacity: 0;
	}
}
