router-view {
	grid-row: 1;
	grid-column: 1;
	opacity: 0;
	pointer-events: none;
	padding: var(--space-md);
	padding-block-end: unset;
	overflow: auto;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

router-view[state='active'] {
	opacity: 1;
	pointer-events: auto;
}
