.button,
button,
[type='button'],
[type='reset'],
[type='submit'] {
	all: unset;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	&:hover,
	&:focus {
		color: var(--color-link-hover);
	}
}
