:root {
	color-scheme: light dark;
	--color-text-muted: #5c6770;
	--color-text: var(--color-dark);
	--color-text-intense: var(--color-dark-intentse);

	--color-ui-intense: #9da7af;
	--color-ui: #b9c0c6;
	--color-ui-muted: #d6dade;

	--color-background-muted: var(--color-light-muted);
	--color-background: var(--color-light);
	--color-background-intense: var(--color-light-intense);
	--color-background-card: var(--color-light-intense);

	--color-link-default: #1565c0;
	--color-link-hover: #0d47a1;
	--color-link-visited: #7b1fa2;

	--color-shadow-intense: rgba(0, 0, 0, 0.2);
	--color-shadow: rgba(0, 0, 0, 0.1);
	--color-shadow-muted: rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text-muted: #818d98;
		--color-text: var(--color-light);
		--color-text-intense: var(--color-light-intentse);

		--color-ui-intense: #67717e;
		--color-ui: #454b54;
		--color-ui-muted: #383d47;

		--color-background-muted: var(--color-dark-muted);
		--color-background: var(--color-dark);
		--color-background-intense: var(--color-dark-intense);
		--color-background-card: var(--color-dark-muted);

		--color-link-default: #64b5f6;
		--color-link-hover: #bbdefb;
		--color-link-visited: #ce93d8;

		--color-shadow-intense: rgba(0, 0, 0, 0.3);
		--color-shadow: rgba(0, 0, 0, 0.2);
		--color-shadow-muted: rgba(0, 0, 0, 0.1);
	}
}
