dialog {
	border: var(--border-width) solid var(--color-ui-muted);
	border-radius: var(--border-radius);
	color: var(--color-text);
	background: var(--color-background-card);
	margin: auto;
	padding: var(--space-sm);
	max-width: calc(100% - var(--space-md));
	max-height: calc(100% - var(--space-md));
}
dialog::backdrop {
	background: rgba(0, 0, 0, 0.8);
}
