h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1.5rem;
	overflow-wrap: break-word;
	font-weight: 800;
	line-height: 1.1;
	margin: 0 0 1rem 0;
}

h6 {
	font-size: 0.9rem;
}
a {
	text-decoration: none;
	color: var(--color-text);
}

p {
	overflow-wrap: break-word;
	margin: 0 0 0.75em 0;
	max-width: 80ch;
}

em {
	font-style: italic;
}

:where(p, ul:not([class]), ol:not([class]), pre, code, blockquote, img, video, iframe) + :is(h1, h2, h3, h4, h5, h6) {
	margin-top: var(--space-md);
}

address {
	font-style: normal;
}

.hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul:not([class]) {
	list-style-type: disc;
	margin: 0 0 var(--space-sm) 1.125rem;
	margin-left: 1.125rem;
	line-height: 1.3;
}
ul:not([class]) > li > ul {
	list-style-type: circle;
}
ul:not([class]) > li > ul > li > ul {
	list-style-type: square;
}
ol:not([class]) {
	margin: 0 0 var(--space-sm) 1.75rem;
	padding-left: 0;
	list-style: decimal;
}
:where(ul:not([class]), ol:not([class])) > li {
	padding-left: 0rem;
	margin-bottom: 0.5rem;
}

ul:not([class]) ul,
ol:not([class]) ul {
	margin: 1rem 0 1rem 1rem;
}

ul:not([class]) ol,
ol:not([class]) ol {
	margin: 1rem 0 1rem 2rem;
}
