@import 'global/_base.css';
@import 'global/_buttons.css';
@import 'global/_code.css';
@import 'global/_color-mode-auto.css';
@import 'global/_dialog.css';
@import 'global/_forms.css';
@import 'global/_media.css';
@import 'global/_range.css';
@import 'global/_table.css';
@import 'global/_typography.css';

@import '../components/router-layout.css';
@import '../components/router-view.css';
@import '../components/router-nav.css';
@import '../components/podcast-episode.css';
@import '../components/episode-player.css';
@import '../components/play-pause.css';

@import '../views/podcast-index.css';
@import '../views/podcast-single.css';
a {
	display: block;
}
